@charset "UTF-8";

.container{
    grid-template-columns: 1fr;
    padding: 1.5rem 5rem;
    transition: 0.5s;
}

@media screen and (max-width: 530px){
    .container{
        padding: 0;
    }
    .box{
        margin: 0;
    }
}

@media screen and (max-width: 400px) {
    footer *{
        font-size: 14px;
        padding: 0 10px;
    }
}