@charset "UTF-8";

:root{
    --prime-color: #c42242;
    --second-color: #f1395d;
    --third-color: #414141;
    --fourth-color: #e4bcbc;
    --fifth-color: #942239;
    --background-color: #ffffff;
    --white-color: #ffffff;

    --max-width: 950px;
    --min-width: 360px;

    --shadow: 0px 0px 5px 2px #0000005b;
}

*{
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: justify;
    margin: auto;
    background-color: var(--third-color);
}

header, footer{
    background-color: var(--prime-color);
    color: var(--white-color);
}
.flex{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: auto;
    padding: 0 20px;
}
header{
    margin: auto;    
}
header h1{
    transition: 0.4s;
}
header h1:hover{
    transform: scale(1.13);
}
header a{
    text-decoration: none;
    color: var(--white-color);
}

header, main, footer{
    box-shadow: 0px 0px 5px 2px #0000005b;
}
.container{
    max-width: var(--max-width);
    min-width: var(--min-width);
    margin: 1.5rem auto;    
}

.parallax{
    background-image: url();
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: top;
}
.container .parallax *{
    color: white;
    background-color: #000000d9;
    padding: 15px;
    border-radius: 5px;
    width: 50%;
}



.flex-footer{
    max-width: var(--max-width);
    min-width: var(--min-width);

    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    margin: auto;
}
footer{
    font-style: italic;
    font-weight: bolder;
    padding: 40px 0;
}
footer *{
    padding: 0 20px;
}
.flex-footer .scroll-top{
    font-size: 22px;
    background-color: var(--fifth-color);
    color: var(--white-color);
    border: none;
    border-radius: 5px;
    cursor: pointer;
    text-decoration: none;
    padding: 15px 15px 10px;
    transition: 0.5s
}
.flex-footer .scroll-top:hover{
    background-color: var(--fourth-color);
    color: var(--fifth-color);
}


.container{
    display: grid;
    grid-template-areas: "main-column side-column";
    grid-template-columns: 1fr 300px;

    padding: 1.5rem;
    background-color: var(--background-color);
}
.main-column{
    grid-area: main-column;
}
.side-column{
    grid-area: side-column;
}


.box{
    padding: 0.5rem 1rem;
    margin: 20px 10px;
    box-shadow: 0px 0px 5px 2px #00000063;
    transition: 0.5s;
}
.box p{
    text-indent: 30px;
    padding: 0 0.5rem;
}
.box h2{
    background-color: var(--prime-color);
    color: var(--white-color);
    padding: 5px;
    box-shadow: 0px 0px 7px 1px #00000089;
    transition: 0.5s;
}
.box h2:hover{
    background-color: var(--second-color);
}



.navbar a{
    float: left;
    color: var(--white-color);
    text-decoration: none;
    font-weight: bolder;
    padding: 10px;
    transition: 0.3s;
    border-radius: 5px;
}
.navbar a:hover{
    color: var(--prime-color);
    background-color: var(--white-color);
}
.navbar .icon{
    font-size: 18px;
    display: none;
}


.active{
    background-color: var(--fifth-color);
    border-radius: 5px;
}


.box:hover{
    box-shadow: 0px 0px 8px 1px #139bf0;
}

form{
    padding: 20px;
}
fieldset div{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px;
}
fieldset div input{
    margin: 5px;
    padding: 7px;
}
fieldset div input:focus{
    box-shadow: 0px 0px 6px 1px #07b6e291;
    outline: none;
    border: 2px solid #07b6e2;
}
.sign-in{
    font-size: 18px;
    font-weight: bolder;
    display: block;
    margin: 10px auto;
    padding: 10px;
    background-color: var(--prime-color);
    color: var(--white-color);
    border-radius: 5px;
    border: none;
    box-shadow: 0px 0px 5px 0px #00000085;
    transition: 0.4s;
    cursor: pointer;
}
.sign-in:hover{
    background-color: var(--second-color);
    box-shadow: 0px 0px 7px 1px #00000071;
}



@media screen and (max-width: 850px) {
    .container{
        grid-template-columns: 1fr 250px;
    }
}
@media screen and (max-width: 750px) {
    .container{
        grid-template-areas: "main-column" "side-column";
        grid-template-columns: 1fr;
        transition: 0.5s;
    }
    .container *{
        transition: 0.5s;
    }
}

@media screen and (max-width: 670px){
    .flex{
        flex-direction: column;
    }
    .navbar{
        margin: 10px;
    }
    .navbar a{
        display: none;
        float: none;
    }
    .navbar .icon{
        margin: 0;
        font-size: 18px;
        display: block;
        cursor: pointer;
    }
    .navbar a:hover{
        background-color: var(--fifth-color);
        color: white;
        border-radius: 5px;
    }
    .mobile a{
        padding: 10px;
        margin: 1px;
        display: block;
        text-align: center;
    }
}

@media screen and (max-width: 520px){
    .container .parallax{
        padding: 200px 0;
        position: relative;
    }
    .container .parallax p{
        width: 100%;
        padding: 10px 20px;
        margin: 0;
        bottom: 0;

        border-radius: initial;
        position: absolute;
    }
    .container .parallax h2{
        width: 100%;
        border-radius: initial;
        position: absolute;
        top: 0;
        margin: 0;
    }
    .container .img-resize{
        padding: 250px 0;
    }
}

@media screen and (max-width: 500px) {
    .container{
        padding: 0;
    }
}